#tl_navigation .group-cowegis {
    background: url(../img/logo.svg) 3px 2px no-repeat;
    background-size: 14px 14px;
}

.cowegis-map-layer-label {
    margin-top: -5px;
    padding: 10px 15px 8px;
    background: #f3f3f5;
}

.cowegis-map-layer-item {
    display: inline-block;
    transition: 0.2s color;
}

.cowegis-map-layer-item img {
    transition: 0.2s filter;
}

.tl_listing li:not(:hover) .cowegis-map-layer-item--inactive {
    color: #999;
}

.tl_listing li:not(:hover) .cowegis-map-layer-item--inactive img {
    filter: grayscale(1.0) opacity(0.5);
}

#tl_cowegis_map_layer fieldset.tl_tbox.nolegend {
    padding: 0;
}
